
*.exe
*.exe
*.pdb
*.csproj
*.csproj
*.cache
*.txt
*.exe
.vs/Compound_DB/v16/.suo
bin/Debug/Compound_DB.exe
bin/Debug/Compound_DB.pdb
obj/Debug/Compound_DB.csproj.CoreCompileInputs.cache
obj/Debug/Compound_DB.csproj.FileListAbsolute.txt
obj/Debug/Compound_DB.csproj.GenerateResource.cache
obj/Debug/Compound_DB.csprojAssemblyReference.cache
.vs/Compound_DB/v16/.suo
bin/Debug/Compound_DB.exe
bin/Debug/Compound_DB.pdb
obj/Debug/Compound_DB.csproj.CoreCompileInputs.cache
obj/Debug/Compound_DB.csproj.FileListAbsolute.txt
obj/Debug/Compound_DB.csproj.GenerateResource.cache
obj/Debug/Compound_DB.csprojAssemblyReference.cache
obj/Debug/Compound_DB.exe
obj/Debug/Compound_DB.pdb
obj/Debug/Compound_DB.Properties.Resources.resources
obj/Debug/Compound_DB.Resident.UserControls.Entrance_code.resources
obj/Debug/Compound_DB.Resident.UserControls.ParkingSlot.resources
obj/Debug/Compound_DB.Resident.UserControls.Rate_service.resources
obj/Debug/Compound_DB.Resident.UserControls.Req_service.resources
obj/Debug/Compound_DB.Resident.UserControls.SellUnit.resources
obj/Debug/Compound_DB.UserControls.Invoices.resources
obj/Debug/Compound_DB.UserControls.Services.resources
obj/Debug/Compound_DB.exe
obj/Debug/Compound_DB.pdb
obj/Debug/Compound_DB.Properties.Resources.resources
obj/Debug/Compound_DB.UserControls.View_Req.resources
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/Compound_DB.csprojAssemblyReference.cache
obj/Debug/Compound_DB.csproj.GenerateResource.cache
obj/Debug/Compound_DB.csproj.FileListAbsolute.txt
obj/Debug/Compound_DB.csproj.CoreCompileInputs.cache
obj/Debug/Compound_DB.csproj.CoreCompileInputs.cache
obj/Debug/Compound_DB.csproj.FileListAbsolute.txt
obj/Debug/Compound_DB.csproj.GenerateResource.cache
obj/Debug/Compound_DB.csprojAssemblyReference.cache
obj/Debug/Compound_DB.exe
obj/Debug/Compound_DB.pdb
obj/Debug/Compound_DB.Properties.Resources.resources
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/Compound_DB.csproj.FileListAbsolute.txt
obj/Debug/Compound_DB.csproj.GenerateResource.cache
obj/Debug/Compound_DB.csprojAssemblyReference.cache
obj/Debug/Compound_DB.exe
obj/Debug/Compound_DB.pdb
obj/Debug/Compound_DB.Properties.Resources.resources
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/Compound_DB.csproj.CoreCompileInputs.cache
obj/Debug/Compound_DB.csproj.FileListAbsolute.txt
obj/Debug/Compound_DB.csproj.GenerateResource.cache
obj/Debug/Compound_DB.csprojAssemblyReference.cache
obj/Debug/Compound_DB.exe
obj/Debug/Compound_DB.pdb
obj/Debug/Compound_DB.Properties.Resources.resources
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/Compound_DB.csproj.CoreCompileInputs.cache
obj/Debug/Compound_DB.csproj.FileListAbsolute.txt
obj/Debug/Compound_DB.csproj.GenerateResource.cache
obj/Debug/Compound_DB.exe
obj/Debug/Compound_DB.pdb
obj/Debug/Compound_DB.Properties.Resources.resources
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/Compound_DB.csproj.CoreCompileInputs.cache
obj/Debug/Compound_DB.csproj.FileListAbsolute.txt
obj/Debug/Compound_DB.csproj.GenerateResource.cache
obj/Debug/Compound_DB.exe
obj/Debug/Compound_DB.pdb
obj/Debug/Compound_DB.Properties.Resources.resources
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/Compound_DB.csproj.CoreCompileInputs.cache
obj/Debug/Compound_DB.csproj.FileListAbsolute.txt
obj/Debug/Compound_DB.csproj.GenerateResource.cache
obj/Debug/Compound_DB.csprojAssemblyReference.cache
obj/Debug/Compound_DB.exe
